body /deep/ h1, body /deep/ h2, body /deep/ h3, body /deep/ h4, body /deep/ h5, body /deep/ h6 {
	color: #555;
	font-weight: 700;
}

body /deep/ h1 {
	margin: 20px 10px 20px 10px;
}

body /deep/ h3 {
	margin: 10px 10px 10px 10px;
}

body /deep/ a, body /deep/ .a {
	cursor: pointer;
	color: #777;
	text-decoration: none;
}



body /deep/ .bg-green {
  background: #259b24;
}

body /deep/ .bg-gray {
  background: #EEE;
}


body /deep/ .red {
  color: #F00;
}

body /deep/ .gray {
  color: #999;
}


body /deep/ .br-default {
	border: 1px solid #999;
}

body /deep/ .br-gray {
	border: 1px solid #EEE;
}


core-toolbar core-icon-button {
  margin: 0px !important;
}

core-toolbar a {
  text-decoration: none;
}

core-toolbar.bg-green, core-toolbar.bg-green a {
  color: white;
}



body /deep/ paper-slider.bg-green {
  background-color: transparent;
}

body /deep/ paper-slider.bg-green::shadow #sliderKnobInner,
body /deep/ paper-slider.bg-green::shadow #sliderKnobInner::before,
body /deep/ paper-slider.bg-green::shadow #sliderBar::shadow #activeProgress {
  background-color: #259b24;
}



paper-spinner.red::shadow .circle {
  border-color: #ff0000;
}