body /deep/ h1 {
	margin: 20px 10px 20px 10px;
}

body /deep/ h3 {
	margin: 10px 10px 10px 10px;
}

body /deep/ a {
	color: black;
	text-decoration: none;
}



body /deep/ .bg-green {
  background: #259b24;
}



core-toolbar core-icon-button {
  margin: 0px !important;
}

core-toolbar a {
  text-decoration: none;
}

core-toolbar.bg-green, core-toolbar.bg-green a {
  color: white;
}



body /deep/ paper-slider.bg-green {
  background-color: transparent;
}

body /deep/ paper-slider.bg-green::shadow #sliderKnobInner,
body /deep/ paper-slider.bg-green::shadow #sliderKnobInner::before,
body /deep/ paper-slider.bg-green::shadow #sliderBar::shadow #activeProgress {
  background-color: #259b24;
}



paper-spinner.red::shadow .circle {
  border-color: #ff0000;
}